<section class="page-inforUser">
    <div class="container-fluid">
        <div class="introduction-infor text-center mt-4">
            <p class="p1 align-middle pt-4 text-uppercase">achievement</p>
        </div>
        <div class="container">
            <div class="content-infor pt-5">
                <div class="row">
                    <div class="form-feedback col-xs-12 col-lg-12 px-3 mb-5 pt-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>