<section class="page-section" id="faqs">
    <div class="container-fluid pb-4">
        <div class="introduction-faqs text-center fs-1">
            <p class="p1 m-0">Q&A</p>
            <div class="line mx-auto"></div>
            <p class="p2">Some frequently asked questions</p>
        </div>

        <div class="container">
            <div class="content-faqs">
                <div class="accordion" id="faqs-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqs-one" aria-expanded="true" aria-controls="faqs-one">
                                Cần phải đăng ký tài khoản để làm bài trắc nghiệm không?
                            </button>
                        </h2>
                        <div id="faqs-one" class="accordion-collapse collapse show" data-bs-parent="#faqs-accordion">
                            <div class="accordion-body">
                                Bạn cần phải <strong>đăng ký tài khoản</strong> hoặc <strong>đăng nhập</strong> nếu như
                                đã có tài
                                khoản để có thể tham gia làm bài
                                trắc nghiệm trên trang web của chúng tôi
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqs-two" aria-expanded="false" aria-controls="faqs-two">
                                Làm cách nào để bắt đầu một bài trắc nghiệm?
                            </button>
                        </h2>
                        <div id="faqs-two" class="accordion-collapse collapse" data-bs-parent="#faqs-accordion">
                            <div class="accordion-body">
                                Để bắt đầu một bài trắc nghiệm, bạn có thể nhấp vào nút <strong>"Learning"</strong> trên
                                trang web,
                                và bạn có thể chọn bài trắc nghiệm phù hợp để bắt đầu làm bài.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqs-three" aria-expanded="false" aria-controls="faqs-three">
                                Làm thế nào để xem kết quả của bài trắc nghiệm?
                            </button>
                        </h2>
                        <div id="faqs-three" class="accordion-collapse collapse" data-bs-parent="#faqs-accordion">
                            <div class="accordion-body">
                                Sau khi hoàn thành bài trắc nghiệm, trang web sẽ hiển thị kết quả của bạn. Bao gồm điểm
                                số, số câu
                                đúng và số câu sai
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqs-four" aria-expanded="false" aria-controls="faqs-four">
                                Bài trắc nghiệm có thời gian giới hạn không?
                            </button>
                        </h2>
                        <div id="faqs-four" class="accordion-collapse collapse" data-bs-parent="#faqs-accordion">
                            <div class="accordion-body">
                                Bài trắc nghiệm có giới hạn thời gian, cụ thể là 60 phút cho 1 bài trắc nghiệm có 40 câu
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#faqs-five" aria-expanded="false" aria-controls="faqs-five">
                                Bài trắc nghiệm có thể làm trên điện thoại di động không?
                            </button>
                        </h2>
                        <div id="faqs-five" class="accordion-collapse collapse" data-bs-parent="#faqs-accordion">
                            <div class="accordion-body">
                                Trang web FQuizpoly của chúng tôi đều tương thích với các thiết bị di động, bao gồm điện
                                thoại di
                                động và máy tính bảng. Bạn có thể truy cập và làm bài trắc nghiệm trên trình duyệt di
                                động của mình
                                thông qua trang web hoặc ứng dụng di động của trang web.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>