<section class="page-section" id="contact">
  <div class="container-fluid mb-5 p-0">
    <div class="introduction-contact text-center fs-1">
      <p class="p1 m-0 align-middle">CONTACT</p>
      <div class="line mx-auto"></div>
      <div class="img p-0">
        <img src="./images/contact.png" alt="" width="100%">
      </div>
    </div>

    <div class="container">
      <div class="content-contact">
        <h1 class="text-center fw-bold text-danger mb-3 my-3">Cơ sở đào tạo tại Cần Thơ</h2>
        <h5><strong>Địa chỉ:</strong> Toà nhà FPT Polytechnic, đường số 22, phường Thường Thạnh,
          quận Cái Răng, TP Cần Thơ</h5>
        <hr>
        <h5>
          <Strong>Liên hệ Văn phòng tuyển sinh</Strong>
          <li> Hotline: 098 388 1100 – 0292 888 9968</li>
          <li>Email: caodangfpt.ct@fpt.edu.vn</li>
        </h5>
        <hr>
        <h5><strong>Liên hệ các phòng ban khác: </strong><br><br>
          Phòng Dịch vụ sinh viên, Công tác sinh viên, Quan hệ doanh nghiệp, Đào tạo, Hành chính: (029) 2730 0468
          hoặc 0942 541 669
          <br><br>
          Email phòng Dịch vụ sinh viên: dvsvpoly.ct@poly.edu.vn
          <br><br>
          Email phòng Công tác sinh viên: ctsvpolyct@fe.edu.vn
          <br><br>
          Email phòng Đào tạo: daotaopolyct@fe.edu.vn
          <br><br>
          Email phòng Hành chính: hanhchinhpolyct@fe.edu.vn
        </h5>
      </div>
    </div>
  </div>
</section>