<section class="page-section" id="about">
  <div class="container-fluid">
    <div class="introduction2 text-center fs-1">
      <p class="p1 m-0">ABOUT</p>
      <div class="line mx-auto"></div>
      <p class="p2"></p>
    </div>

    <div class="container">
      <div class="row">
        <div class="video-about col-lg-6">
          <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
            <iframe src="https://www.youtube.com/embed/TQBLwP3e5-4"
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none;"
              allowfullscreen></iframe>
          </div>

        </div>
        <div class="content-about col-lg-6 fs-4 ">
          <p>Trường Cao đẳng FPT Polytechnic là trường đào tạo trong lòng doanh nghiệp với đa ngành nghề, đa lĩnh
            vực. FPT Polytechnic ra đời với mong muốn đem đến cho người học những giá trị đào tạo thực tế đúng với
            triết lý “Thực học – Thực nghiệp”.</p>
          <p>Nhà trường áp dụng phương pháp học Project-based Learning (Học tập qua dự án thật) và phương pháp
            giảng dạy Blended Learning (Học tập tích hợp), cung cấp cho sinh viên tới 70% thời gian là thực hành,
            trải nghiệm môi trường học sát với thực tế. Thông qua các dự án với doanh nghiệp, các dự án theo nhóm,
            sinh viên có cơ hội trao đổi, gặp gỡ với những chuyên gia trong nghề ngay từ khi còn ngồi trên ghế nhà
            trường. Bên cạnh những kiến thức nền tảng, sinh viên còn được trang bị những kỹ năng thiết yếu của thế
            kỷ 21 như: Kỹ năng mềm, tin học, ngoại ngữ, làm việc nhóm, kỹ năng thiết trình…</p>
        </div>
       
      </div>
      <div class="img-fluid mb-2">
        <img class="mx-auto d-flex align-self-center" src="./images/about.png" alt="" width="75%">
      </div>

    </div>
  </div>
</section>