body {
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
}

.menuNav {
    min-height: 0px;
    font-size: 1.3rem;
    text-align: left;
    font-weight: 600;
}

.nav-item {
    margin-right: 2.5rem;
}

.nav-item a:hover,
.nav-item .clicked {
    color: rgb(27, 151, 27);
    border-bottom: 3px solid rgb(84, 241, 22);
    padding: 0px;
    transition: linear 0.1s;
}

#tabLogin .nav-item {
    font-size: 1.8rem;
    margin-right: 0px !important;
}

#tabLogin .nav-item #login-tab:hover {
    background-color: rgb(211, 207, 207);
    border: none;
    border-radius: 5px 0px 0px 0px;
}

#tabLogin .nav-item #register-tab:hover {
    background-color: rgb(211, 207, 207);
    border: none;
    border-radius: 0px 5px 0px 0px;
}

#tabLogin .nav-item .nav-link {
    border: none;
}

.register_login_button {
    font-size: 1.6rem;
}

.register_login_button .btnLogin:hover {
    background-color: rgb(99, 247, 41);
    opacity: 0.8;
    transition: ease-in 0.25s;
    color: white !important;
}

.register_login_button .btnRegister:hover {
    background-color: rgb(99, 247, 41);
    opacity: 0.8;
    transition: ease-in 0.25s;
    color: black;
}

.dropdown-toggle::after {
    display: none !important;
}

.btnStartNow {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #fcfcfc;
    position: relative;
    font-weight: 1000;
    font-size: 1.3rem;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btnStartNow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: rgb(255, 191, 52);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.btnStartNow:hover {
    color: #ffffff;
}

.btnStartNow:hover::before {
    width: 100%;
}

.main-header {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("./images/panel-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.main-header h1,
.main-header .h1 {
    font-size: 2.25rem;
}

@media (min-width: 992px) {
    .main-header {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    .main-header p {
        font-size: 1.15rem;
    }

    .main-header h1,
    .main-header .h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {

    .main-header h1,
    .main-header .h1 {
        font-size: 3.5rem;
    }
}
#learning{
    height: 80vh;
}
#learning .introduction {
    background-color: rgb(255, 191, 52);
}

#learning .introduction .line {
    height: 3px;
    width: 100px;
    background-color: white;
}

#learning .introduction .p1 {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#learning .introduction .p2 {
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
}

.start-quiz {
    width: 100px;
    font-size: 1.5rem;
}

.quiz-item:hover {
    transform: scale(1.02);
    transition: all 0.5s;
}

.quiz-item .card .card-body {
    height: 150px;
}

.quiz-item .card .card-body .card-title a {
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
}

.quiz-item .card .card-body .card-title a:hover {
    text-decoration: none;
    color: blue;
}

#about {
    background-color: #f0f8ec;
}

#about .introduction2 .p1 {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(30, 38, 109);
}

#about .introduction2 .p2 {
    font-size: 2.4rem;
    color: rgb(3, 3, 3);
}

#faqs {
    background-color: rgb(244, 235, 235);
}

@media (min-width: 768px) {
    .content-faqs {
        height: 400px;
    }
}

#contact .introduction-contact .p1,
.introduction-faqs .p1 {
    padding-top: 2rem;
    height: 10rem;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(30, 38, 109);
}

#contact .introduction-contact .p2,
.introduction-faqs .p2 {
    font-size: 2.4rem;
    color: rgb(3, 3, 3);
}

.accordion-button {
    font-size: 1.6rem;
}

.accordion-body {
    font-size: 1.2rem;
}

.form-feedback {
    border-radius: 10px;
    background-color: rgb(173, 228, 219);
}

.introduction a {
    text-decoration: none;
    font-size: 2.5rem;
    margin-right: 15px;
    color: black;
}

.introduction .social-button-fb:hover {
    color: blue;
}

.introduction .social-button-gh:hover {
    color: rgb(75, 75, 78);
}

.introduction .social-button-ig:hover {
    color: rgb(218, 26, 73);
}

.links h4,
.help h4 {
    color: rgb(48, 48, 250);
    font-weight: 800;
}

.link-menu {
    text-decoration: none;
    color: black;
}

.link-menu:hover {
    text-decoration: underline;
    color: blue;
}

section {
    margin-top: 70px;
}

.page-inforUser .introduction-infor {
    font-size: 2.7rem;
    font-weight: bold;
    color: rgb(110, 193, 125);
    height: 100px;
}

.page-inforUser {
    background-color: antiquewhite;
}

#counter-section-container {
    width: 100%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(190, 159, 55, 0.8) 0%, rgba(185, 161, 51, 0.8) 100%), url("./images/landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#counter-box-container {
    overflow: hidden;
    display: inline-block;
}

#counter-box {
    width: 100px;
    min-width: 240px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: #ffffff;

}

.numberCounter {
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
}

.btnLanding {
    font-size: 1.5rem;
    width: 200px;
    height: 60px;
}

#line-counter {
    background-color: white;
    margin: auto;
    width: 100px;
    height: 5px;
}

.page-item {
    margin: 0px 10px;
}

.modal-hidden {
    display: none !important;
}

.layout {
    position: relative;
}

.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: aliceblue;
    display: flex;
    /* justify-self: center; */
    align-items: center;
    justify-items: center;
    z-index: 9999;
    /* width: 100%; */
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 78px;
    opacity: 0.8;
}

.loader:before {
    color: black;
    content: "{";
    display: inline-block;
    animation: pulse 0.4s alternate infinite ease-in-out;
}

.loader:after {
    color: black;
    content: "}";
    display: inline-block;
    animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}